<h1 class="text-center">Lista de Congregações</h1>
<div class="row m-3">
    <div class="col"><a hx-get="/templates/congregacoes/form.html" hx-target="#app" class="btn btn-outline-success"><i
                class="bi bi-house-add"></i> Nova Congregação</a></div>
</div>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Circuito</th>
            <th class="text-center">Ações</th> <!-- Adicione class text-center -->
        </tr>
    </thead>
    <!-- Garanta que o container principal tem o ID correto -->
    <tbody id="congregacoes-list">
        <!-- Estado inicial de carregamento -->
        <tr>
            <td colspan="4" class="text-center">Carregando congregações...</td>
        </tr>
    </tbody>
</table>

<script type="module" src="/js/congregacoes.js"></script>